<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @business_detail.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @business_detail.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business_detail.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_detail.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @business_detail.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @business_detail.twitter %>
</p>

<p>
  <strong>Business:</strong>
  <%= @business_detail.business_id %>
</p>

<%= link_to 'Edit', edit_business_detail_path(@business_detail) %> |
<%= link_to 'Back', business_details_path %>
