= form_for @sub_culture do |f|
  - if @sub_culture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sub_culture.errors.count, "error")} prohibited this sub_culture from being saved:"
      %ul
        - @sub_culture.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :culture
    = f.text_field :culture
  .actions
    = f.submit 'Save'
