<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "BUYASPORA - Ethnic Marketplace", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Businesses",   '#' %></li>
        <li><%= link_to "Cultures", '#' %></li>
        <li><%= link_to "Featured",   '#' %></li>
        <li><%= link_to "Explore",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in or Sign up", '#' %></li>
      </ul>
    </nav>
  </div>
</header>